{% extends "base.html" %}

{% block content %}

<h2>Criar Conta</h2>

<div class="card">

<form method="POST">

<input class="input" name="name" placeholder="Seu nome" required>

<input class="input" type="email" name="email" placeholder="E-mail" required>

<input class="input" type="password" name="password" placeholder="Senha" required>

<select class="input" name="plan">
    <option value="basic">Essencial - R$ 9,90</option>
    <option value="pro">Profissional - R$ 19,90</option>
    <option value="premium">Premium - R$ 29,90</option>
</select>

<input class="input" name="voucher" placeholder="Voucher (opcional)">

<button class="btn">Criar Conta</button>

</form>

</div>

<p style="margin-top:15px;">
Já tem conta? <a href="/login">Entrar</a>
</p>

{% endblock %}